<div class="col-sm-12 column">
    <div class="well">
        <h4>{{t "assessment:phase_passfail.title"}}</h4>

        <p>{{t "assessment:phase_passfail.description"}}</p>

        <label class="col-sm-2 control-label">A</label>

        <div class="col-sm-4 column">
            {{#each passfail.options}}
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="a-passfail-input" value="{{@key}}"> {{this.label}}
                    </label>
                </div>
            {{/each}}
        </div>
        <label class="col-sm-2 control-label">B</label>

        <div class="col-sm-4 column">
            {{#each passfail.options}}
                <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="b-passfail-input" value="{{@key}}"> {{this.label}}
                    </label>
                </div>
            {{/each}}
        </div>
        <button id="submit-passfail-button" type="button" class="btn btn-primary">
            {{t "assessment:common.save_button.label"}}
        </button>
    </div>
</div>
