<div class="col-sm-12 column">
    <div class="well">
        <h4>{{t "assessment:phase_selection.title"}}</h4>
        <p>{{t "assessment:phase_selection.description"}}</p>
        <button id="select-A-button" type="button" class="btn btn-primary" data-selection-id="{{representations.a}}">
            {{t "assessment:phase_selection.a_button.label"}}
        </button>
        <button id="select-B-button" type="button" class="btn btn-primary" data-selection-id="{{representations.b}}">
            {{t "assessment:phase_selection.b_button.label"}}
        </button>
    </div>
</div>

