<div class="col-md-12 column">
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar" aria-valuenow="{{completedNum}}" aria-valuemin="0" aria-valuemax="{{comparisonsNum}}"
             data-toggle="tooltip" data-placement="bottom" title="{{t "assessment:comparisons.progressbar.tooltip"}}"
             style="width:{{percentage}}%"
             >
            {{#if labelLeft }}
                <span>{{t "assessment:comparisons.progressbar.label" count=percentage}}</span>
            {{/if}}
        </div>
        {{#if labelRight}}
            <span>&nbsp;{{t "assessment:comparisons.progressbar.label" count=percentage}}</span>
        {{/if}}
    </div>
</div>
