<label for="notes-{{_id}}"
       class="notes-label collapsed"
       data-toggle="collapse" data-target="#notes-{{_id}}">{{t "assessment:comparisons.notes.label"}}</label>
<textarea id="notes-{{_id}}"
          data-toggle="tooltip" data-placement="top" title="{{t "assessment:comparisons.notes.tooltip"}}"
          class="form-control collapse" rows="6">{{notes}}</textarea>
