<label for="notes-{{order}}"
       class="notes-label collapsed"
       data-toggle="collapse" data-target="#notes-{{order}}">{{t "assessment:notes.label"}}</label>
<textarea id="notes-{{order}}"
          data-toggle="tooltip" data-placement="top" title="{{t "assessment:notes.tooltip"}}"
          class="form-control collapse" rows="10">{{{body}}}</textarea>
