<div class="row">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">{{{t "assessment:comparisons.judgement.description"}}}</div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 column text-center">
        <button id="select-left"
                type="button" class="btn btn-primary btn-md"
                data-toggle="tooltip" data-placement="right"
                data-model-id="{{leftId}}"
                title="{{{t "assessment:comparisons.judgement.leftButton.tooltip"}}}">
            {{#if leftSelected}}<span class="glyphicon glyphicon-ok"></span>{{/if}}
            {{{t "assessment:comparisons.judgement.leftButton.label"}}}
        </button>
    </div>
    <div class="col-sm-6 column text-center">
        <button id="select-right"
                type="button" class="btn btn-primary btn-md"
                data-toggle="tooltip" data-placement="left"
                data-model-id="{{rightId}}"
                title="{{{t "assessment:comparisons.judgement.rightButton.tooltip"}}}">
            {{#if rightSelected}}<span class="glyphicon glyphicon-ok"></span>{{/if}}
            {{{t "assessment:comparisons.judgement.rightButton.label"}}}
        </button>
    </div>
</div>
