<div class="row">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">{{{description}}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 column text-right">
        <label>{{{t "assessment:comparisons.seq.legend.easy.label"}}}</label>
    </div>
    <div class="col-md-6 column text-center">
        <div class="btn-group value-buttons" data-toggle="buttons">
            {{#each values}}
                <label class="btn btn-default" data-value="{{this}}"><input type="radio" name="values">{{this}}</label>
            {{/each}}
        </div>
    </div>
    <div class="col-md-3 column">
        <label>{{{t "assessment:comparisons.seq.legend.hard.label"}}}</label>
    </div>
</div>
<div class="row vspacer">
    <div class="col-md-12 column text-center">
        <button type="button"
                class="btn btn-primary save-button">{{t "assessment:comparisons.seq.submitButton.label"}}</button>
    </div>
</div>
