<h4>{{{t "assess:common.title" title=title}}}</h4>
<p class="assessment-progressbar">{{t "assess:assessment_progressbar.label"}}</p>

<div class="toolbar">
    <button id="comparison_stop_button" type="button" class="btn btn-danger" data-toggle="modal">
        {{t "assess:common.stop_button.label"}}
    </button>
    {{#if assignments.assessor}}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#assessor_assignment">
            {{t "assess:assessment_assignments.assessor_button.label"}}
        </button>
    {{/if}}
    {{#if assignments.assessee}}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#assessee_assignment">
            {{t "assess:assessment_assignments.assessee_button.label"}}
        </button>
    {{/if}}
</div>

<div class="modal fade" id="assessor_assignment" tabindex="-1" role="dialog" aria-labelledby="assessor_assignment_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"
                    id="assessor_assignment_label">{{t "assess:assessment_assignments.assessor_button.label"}}</h4>
            </div>
            <div class="modal-body">
                {{{assignments.assessor}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">{{t "common:close_button.label"}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assessee_assignment" tabindex="-1" role="dialog" aria-labelledby="assessee_assignment_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"
                    id="assessee_assignment_label">{{t "assess:assessment_assignments.assessee_button.label"}}</h4>
            </div>
            <div class="modal-body">
                {{{assignments.assessee}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">{{t "common:close_button.label"}}</button>
            </div>
        </div>
    </div>
</div>
