<div id="comparison-wizard-judgement" class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="alert alert-info" role="alert">{{{t "assessment:comparisons.judgement.description"}}}</div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 column text-center">
                <button id="select-left"
                        type="button" class="btn btn-primary btn-lg"
                        data-toggle="tooltip" data-placement="right"
                        title="{{{t "assessment:comparisons.judgement.leftButton.tooltip"}}}">
                    {{{t "assessment:comparisons.judgement.leftButton.label"}}}
                </button>
            </div>
            <div class="col-md-6 column text-center">
                <button
                        type="button" class="btn btn-primary btn-lg"
                        data-toggle="tooltip" data-placement="left"
                        title="{{{t "assessment:comparisons.judgement.rightButton.tooltip"}}}">
                    {{{t "assessment:comparisons.judgement.rightButton.label"}}}
                </button>
            </div>
        </div>
    </div>
</div>
