<div class="col-sm-12 column">
    <div class="well">
        <h4>{{t "assess:phase_pros-cons.title"}}</h4>

        <p>{{t "assess:phase_pros-cons.description"}}</p>

        <div class="row">
            <div class="col-sm-12 col-md-6 column">
                <div class="row">
                    <div class="col-sm-12 column">
                        <h5>{{t "assess:phase_pros-cons.a_title"}}</h5>
                    </div>
                </div>
                {{#if feedback.a.enabled}}
                <div class="row">
                    <div class="col-sm-12 column">
                        <textarea id="a-positive" class="form-control" rows="5"
                                  placeholder="{{t "assess:phase_pros-cons.positive"}}">{{feedback.a.value.positive}}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 column">
                        <textarea id="a-negative" class="form-control" rows="5"
                                  placeholder="{{t "assess:phase_pros-cons.negative"}}">{{feedback.a.value.negative}}</textarea>
                    </div>
                </div>
                {{else}}
                    <div class="row">
                        <div class="col-sm-12 column">
                            {{t "assess:phase_pros-cons.disabled"}}
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="col-sm-12 col-md-6 column">
                <div class="row">
                    <div class="col-sm-12 column">
                        <h5>{{t "assess:phase_pros-cons.b_title"}}</h5>
                    </div>
                </div>
                {{#if feedback.b.enabled}}
                <div class="row">
                    <div class="col-sm-12 column">
                        <textarea id="b-positive" class="form-control" rows="5"
                                  placeholder="{{t "assess:phase_pros-cons.positive"}}">{{feedback.b.value.positive}}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 column">
                        <textarea id="b-negative" class="form-control" rows="5"
                                  placeholder="{{t "assess:phase_pros-cons.negative"}}">{{feedback.b.value.negative}}</textarea>
                    </div>
                </div>
                {{else}}
                    <div class="row">
                        <div class="col-sm-12 column">
                            {{t "assess:phase_pros-cons.disabled"}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 column">
                <button id="submit-proscons-button" type="button"
                        data-sending-text="{{t "assess:common.sending"}}"
                        class="btn btn-primary">
                    {{t "assess:common.save_button.label"}}
                </button>
            </div>
        </div>
    </div>
</div>
