<div class="col-sm-12 column">
    <div class="well">
        <h4>{{title}}</h4>
        <p>{{description}}</p>
        <button id="select-A-button" type="button" class="btn btn-primary"
                data-sending-text="{{t "assess:common.sending"}}"
                data-selection-id="{{representations.a}}">
            {{t "assess:phase_selection.a_button.label"}}
        </button>
        <button id="select-B-button" type="button" class="btn btn-primary"
                data-sending-text="{{t "assess:common.sending"}}"
                data-selection-id="{{representations.b}}">
            {{t "assess:phase_selection.b_button.label"}}
        </button>
    </div>
</div>

