<div class="row">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">
            <p>{{t "account:description"}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 column">
        <div class="row">
            <div class="col-md-12 column">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="firstname" class="col-md-4 control-label">{{t "account:name.first.label"}}</label>

                        <div class="col-md-8">
                            <input type="text" class="form-control" id="firstname"
                                   placeholder="{{t "account:name.first.description"}}" value="{{name.first}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="col-md-4 control-label">{{t "account:name.last.label"}}</label>

                        <div class="col-md-8">
                            <input type="text" class="form-control" id="surname"
                                   placeholder="{{t "account:name.last.description"}}" value="{{name.last}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{t "account:organisation.label"}}</label>

                        <div class="col-md-8">
                            <p class="form-control-static">{{organization.name}}</p>
                            <!--
                            <select id="organisation" class="form-control">
                                <option>{{t "account:organisation.description"}}</option>
                            </select>
                            -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-4 control-label">{{t "account:email.label"}}</label>

                        <div class="col-md-8">
                            <input type="email" class="form-control" id="email"
                                   placeholder="{{t "account:email.description"}}" value="{{email}}">
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">{{t "account:password.label"}}</label>

                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password"
                                   placeholder="{{t "account:password.description"}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password-confirmation"
                               class="col-md-4 control-label">{{t "account:password.confirmation.label"}}</label>

                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password-confirmation"
                                   placeholder="{{t "account:password.confirmation.description"}}">
                        </div>
                    </div>
                    -->
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default save-btn">{{t "account:submit.label"}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
