<div class="row">
    <div class="col-md-12 column">
        <div class="alert alert-info" role="alert">
            <p>{{t "login:description"}}</p>
        </div>
        <div class="alert-region"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 column">
        <div class="row">
            <div class="col-md-12 column">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="email" class="col-md-4">{{t "login:email.label"}}</label>

                        <div class="col-md-8">
                            <input type="email" class="form-control" id="email"
                                   placeholder="{{t "login:email.description"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-4">{{t "login:password.label"}}</label>

                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password"
                                   placeholder="{{t "login:password.description"}}">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default login-btn">{{t "login:submit.label"}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
