<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#primary-navigation"><span
                class="sr-only">{{t "common:app.menu.toggle.label"}}</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span></button>
        <a id="brand-href" class="navbar-brand" href="{{t "common:menu.brand.href"}}">
            <img
                    style="margin-top: -14px"
                    src="../images/d-pac-logo_colour.png"
                    width="72"/></a>

        <p class="navbar-text">
            <small>v{{appVersion}}</small>
        </p>
    </div>

    <div class="collapse navbar-collapse" id="primary-navigation">
        <ul class="nav navbar-nav navbar-right">
            {{#if loggedin}}
                <li>
                    <p class="navbar-text"><span
                            class="label label-info">{{t "common:menu.text.label" user=user.name.first}}</span></p>
                </li>
                <li>
                    <a href="{{t "common:menu.judge.href"}}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="{{t "common:menu.judge.description"}}">{{t "common:menu.judge.label"}}</a>
                </li>
                <li>
                    <a href="{{t "common:menu.account.href"}}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="{{t "common:menu.account.description"}}">{{t "common:menu.account.label"}}</a>
                </li>
                <li>
                    <a href="{{t "common:menu.tutorial.href"}}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="{{t "common:menu.tutorial.description"}}">{{t "common:menu.tutorial.label"}}</a>
                </li>
                <li>
                    <a href="{{t "common:menu.logout.href"}}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="{{t "common:menu.logout.description"}}">{{t "common:menu.logout.label"}}</a>
                </li>
            {{else}}
                <li>
                    <a href="{{t "common:menu.login.href"}}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="{{t "common:menu.login.description"}}">{{t "common:menu.login.label"}}</a>
                </li>
            {{/if}}
            <li>
                <a id="copy-button" href="https://github.com/d-pac/d-pac.client/issues/new" target="d-pac-issues"><i class="fa fa-bug"></i></a>
            </li>
        </ul>
    </div>

</nav>
