<div id="core-signin-view" class="row">
{{#if authenticated}}
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 column">
            <div class="well well-sm">
                <h4>{{t "login:authenticated.title"}}</h4>

                <p>{{{t "login:authenticated.message"  userName=user.name.first}}}</p>
                {{#if permissions.allowed.tutorial.view}}
                    <a href="{{t "common:menu.tutorial.href"}}" class="btn btn-primary tutorial-btn"
                       role="button">{{t "common:menu.tutorial.label"}}</a>
                {{/if}}
                {{#if permissions.allowed.uploads.view}}
                    <a href="{{t "common:menu.uploads.href"}}" class="btn btn-primary uploads-btn"
                       role="button">{{t "common:menu.uploads.label"}}</a>
                {{/if}}
                {{#if permissions.allowed.assess.view}}
                    <a href="{{t "common:menu.judge.href"}}" class="btn btn-primary assess-btn"
                       role="button">{{t "common:menu.judge.label"}}</a>
                {{/if}}
                {{#if permissions.allowed.results.view}}
                    <a href="{{t "common:menu.results.href"}}" class="btn btn-primary results-btn"
                       role="button">{{t "common:menu.results.label"}}</a>
                {{/if}}
            </div>
        </div>
{{else}}
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{t "login:description"}}</h4>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="email" class="col-md-4">{{t "login:email.label"}}</label>

                            <div class="col-md-8">
                                <input type="email" class="form-control" id="email"
                                       placeholder="{{t "login:email.description"}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-4">{{t "login:password.label"}}</label>

                            <div class="col-md-8">
                                <input type="password" class="form-control" id="password"
                                       placeholder="{{t "login:password.description"}}">
                            </div>
                        </div>
                        <button type="button"
                                data-sending-text="{{t "login:submit.sending"}}"
                                class="btn btn-primary login-btn pull-right">{{t "login:submit.label"}}</button>
                        {{#if permissions.allowed.passwordresets.view}}
                        <a href="{{absurl "common:menu.forgotpassword.href"}}" class="btn btn-default pull-right"
                           role="button">{{t "common:menu.forgotpassword.label"}}</a>
                        {{/if}}

                    </form>
                </div>
            </div>
        </div>
{{/if}}
</div>
