<div class="toolbar">
    {{#if assignments.assessor}}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#results_assessee_assignment">
            {{t "results:assessment_menu.assessee_assignment"}}
        </button>
    {{/if}}
    <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#results_contact_pam">-->
    <!--{{t "results:assessment_menu.contact_pam"}}-->
    <!--</button>-->
</div>

<div class="modal fade" id="results_assessee_assignment" tabindex="-1" role="dialog"
     aria-labelledby="results_assessee_assignment_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="results_assessee_assignment_label">{{t
                    "results:assessment_menu.assessee_assignment"}}</h4>
            </div>
            <div class="modal-body">
                {{{assignments.assessee}}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{t
                    "common:close_button.label"}}</button>
            </div>
        </div>
    </div>
</div>
