<div class="toolbar">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="assessment-selection" class="col-md-4  control-label">{{t "results:assessment_selection.select_label"}}</label>
            <div class="col-md-8">
                <select id="assessment-selection" class="form-control">
                    <option value="" selected disabled>{{t "results:assessment_selection.select_tooltip"}}</option>
                    {{#each list}}
                        <option data-model-id="{{_id}}" {{#unless this.hasResults}}disabled{{/unless}}>{{this.name}}{{#unless this.hasResults}}{{t "results:assessment_selection.no_results"}}{{/unless}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </form>
</div>
