{{#if feedback.length}}
    <button id="print-feedback-button" type="button" class="btn btn-success">{{t "results:page_nav.print"}}</button>

    {{#feedback}}
        <h4>{{t "results:representation_feedback.title" description=phase.texts.description}}</h4>
        <table class="table table-bordered table-striped" style="width:100%;">
            <thead>
            <tr>
                <td>{{ t "results:representation_feedback.assessor" }}</td>
                <td>{{ phase.texts.positive }}</td>
                <td>{{ phase.texts.negative }}</td>
            </tr>
            </thead>
            <tbody>
            {{#each items}}
                <tr>
                    <td style="min-width: 180px;">{{ t "results:representation_feedback.anonymized" num=anon}}</td>
                    <td width="50%"> {{{positive}}}</td>
                    <td width="50%">{{{negative}}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/feedback}}
{{/if}}
