<div class="row">
    <div class="column col-sm-12"><h4>{{t "results:representation_details.title"}}</h4></div>
</div>

<div class="row">
    <div class="column col-sm-12 col-lg-6">
        <div class="row">
            <div class="column col-sm-12">
                <div class="media-viewer"></div>
            </div>
        </div>
        {{#if hasDescription}}
            <div class="row">
                <div class="column col-sm-12">
                    <blockquote class="representation-description">
                        {{{document.text}}}
                    </blockquote>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="column col-sm-12 col-lg-6">
        <table class="table table-bordered table-striped">
            <tr>
                <td>{{t "results:representations_ranking.rank"}}</td>
                <td class="text-right"><code>{{rank}}</code></td>
            </tr>
            <tr>
                <td>{{t "results:representations_ranking.ability"}}</td>
                <td class="text-right"><code>{{toFixed ability.value}}</code></td>
            </tr>
            <tr>
                <td>{{t "results:representations_ranking.comparisonsNum"}}</td>
                <td class="text-right"><code>{{comparisonsNum}}</code></td>
            </tr>
        </table>
    </div>
</div>
