<table>
    <thead>
    <tr>
        <th colspan="2">{{name}}</th>
    </tr>
    </thead>
    <tr>
        <td>{{t "results:representations_ranking.rank"}}</td>
        <td class="text-right">{{rank}}</td>
    </tr>
    <tr>
        <td>{{t "results:representations_ranking.ability"}}</td>
        <td class="text-right">{{toFixed ability}}</td>
    </tr>
    <tr>
        <td>{{t "results:representations_ranking.comparisonsNum"}}</td>
        <td class="text-right">{{comparisonsNum}}</td>
    </tr>
</table>
